# dependencies
node_modules/

# next
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# local samples/cache
.DS_Store
Thumbs.db

# local sqlite database
data/*.db
data/*.db-*
